<div class="centro">
    <h2> Cadastre-se! </h2>
    <h3> Oi! Pra se cadastrar é bem simples: vamos pedir alguns dados apenas para uma melhor identificação da sua conta,
        não vamos compartilhar com ninguém, nem te mandar vários e-mails. Vamos lá? </h3>

    <form>
        <p>Primeiro nome:
            <input type="text" placeholder="Digite seu nome">
        </p>
        <p>Sobrenome:
            <input type="text" placeholder="Digite seu sobrenome">
        </p>
        <p>Seu melhor e-mail:
            <input type="email" placeholder="Digite seu e-mail">
        </p>
        <p>Escolha um username:
            <input type="text" placeholder="Digite um username">
        </p>
        <p>Senha:
            <input type="password" placeholder="Digite uma senha">
        </p>
        <p>Digite a senha novamente:
            <input type="password" placeholder="Confirme sua senha">
        </p>
        <button type="submit">É isso!<i class="fa-solid fa-square-check"></i></button>
    </form>
</div>