<footer class="fundo">
    <nav> Onde mais você encontra a gente:
        <div class="infos1">
        <a href=""><i class="fa-brands fa-instagram"></i>Instagram</a>
        <a href=""><i class="fa-solid fa-tree"></i>Minhas plantas</a>
        <a href=""><i class="fa-brands fa-linkedin-in"></i>LinkedIn</a>
        <a href=""><i class="fa-brands fa-github"></i>GitHub</a>
    </div>
    </nav>
        <div class="infos2">
            <header>
                <h3 class="semMargem">
                    Aviso!
                </h3>
            </header>
            <h4>
                <p class="semMargem">Estamos trabalhando duro para implementar novas funcionalidades e catalogar novas
                    plantas, como folhagens, árvores, flores, etc. Por favor, aguarde pacientemente e aproveite muito
                    nossos
                    serviços! </p>
            </h4>
            <footer class="rodape">Atenciosamente, <br>
                Equipe Plantário
            </footer>
        </div>
</footer>
<div class="rodape">&copy; Todos os direitos reservados.</div>