<article>
    <header> Aspectos importantes ao cultivar plantas </header>
    <section> Aqui uma lista de coisas importantes para prestar atenção ao posicionar sua planta em casa: </section>
    <ul>
        <li> Tipo de planta:
            <p>
                Antes de posicionar sua planta, pesquise mais sobre ela. Quais condições a fazem se desenvolver melhor?
                Quais condições a prejudicam? Tenha sempre em mente o ambiente de origem da sua plantinha, ele será o
                ideal para que ela se desenvolva da melhor forma possível e, portanto, o alvo em que você deve mirar
                para simular melhor o ambiente em que ela vai viver. Não precisa ser perfeito, claro, mas tenha em mente
                que quanto mais parecido for, mais bonita ela vai crescer! <br>
                Além disso, obter essas informações é imprescindível para que você não a acabe matando sem querer...
            </p>
        </li>
        <li> Frequência de rega:
            <p>
                Lembre-se do local de origem da planta. Qual a frequência de chuva nesse lugar? Muito provavelmente, sua
                planta estará evolutivamente adaptada para esse ritmo de rega e isso não é algo que você possa mudar na
                sua casa. Procure simular esse ritmo para não desidratar demais sua planta, ou encharcá-la demais. A
                grande maioria das plantas não suporta encharcamento e morre com o excesso de água. O quanto é "excesso"
                para ela depende justamente do seu ambiente de origem, mas principalmente da soma de todos os fatores
                listados aqui nesse post. Sempre fique atento e tenha sempre um palito de madeira em mãos! Ele será um
                grande aliado para checar o substrato das suas plantinhas.
            </p>
        </li>
        <li> Temperatura:
            <p>
                Mais uma vez, tenha em mente o ambiente ideal para sua plantinha. É uma planta de clima quente ou frio?
                Suas folhas são mais finas ou grossas? Ela sobrevive a geadas? Ela gosta de calor intenso? Um desses
                fatores pode acabar queimando as folhas da sua planta ou a desidratando gravemente? Quais são as
                probabilidades de ela morrer caso isso aconteça por acaso? Afinal, nosssas vidas não são constantes e
                não podemos garantir que teremos condições de cuidar de nossas plantas sempre com o mesmo zelo pelo
                resto da vida dela (ou da sua). Tenha tudo isso em mente ao posicionar sua planta. Observe bem o
                ambiente
                em que você vai deixá-la, tá bom?
            </p>
        </li>
        <li> Incidência solar:
            <p>
                Esse é um fator importantíssimo! Dividimos a incidência solar em: sol pleno, meia-sombra ou sombra. Sol
                pleno é quando sua planta recebe os raios solares diretamente, como você quando tenta pegar um bronze na
                praia, só que o dia todo. Algumas suculentas, como os cactos, precisam desse tipo de iluminação para
                ficarem saudáveis. <br>
                Meia-sombra é o meio-termo. A planta recebe essa incidência solar direta só no comecinho do dia e/ou no
                finzinho da tarde, quando o sol é menos intenso. Basicamente são as plantas que gostam das horas de sol
                benéficas, como as horas recomendadas para nós, humanos! Elas são a grande maioria das plantas e se você
                não souber de que planta está cuidando, essa é a melhor iluminação para testar o desenvolvimento da sua
                verdinha. Se ela não gostar, você pode regular a partir daí que eu te garanto que a meia-sombra nunca
                vai matar sua planta. <br>
                Por fim, sombra nunca significa escuridão, muito pelo contrário: é um ambiente que não recebe os raios
                quentes do sol, mas que ainda é muito iluminado. Devemos nos lembrar que todas as plantas realizam
                fotossíntese e morrem se não tiverem luz para completar o processo. Um bom jeito de testar se sua sombra
                tem luz o suficiente é abrir um livro de papel perto da planta posicionada, de preferência com páginas
                amareladas. Você consegue ler sem maiores dificuldades relativas à iluminação? Então sua planta de
                sombra vai ficar bem! Lembre-se: ela precisa ver o sol, mas o sol não pode vê-la!
            </p>
        </li>
        <li> Umidade do ar:
            <p>
                Essa pode ser considerada uma extensão do tópico da rega. Isso porque, assim como a temperatura, a
                umidade do ar é determinante para a evaporação da água que você deu para sua plantinha. Além disso, é
                uma questão importante principalmente para as plantas de origem tropical porque nesses lugares costuma
                chover com muita frequência, o que significa que o ar está sempre úmido e a planta precisa dessa umidade
                de alguma forma. As plantas que possuem folhas finas principalmente: a umidade do ar ajuda as folhas a
                perderem pouca água. Quando expostas a ambientes muito secos, as folhas provavelmente vão ficar com
                aspecto de queimadas e isso vai prejudicar o processo de fotossíntese da planta. Algumas pessoas usam
                umidificadores de ar para suas plantas, mas, na maioria das vezes, um potinho com areia encharcada por
                perto é o suficiente para umidificar o ar e não dar brecha para o mosquito da dengue ao mesmo tempo!
                Colocar essa planta num banheiro bem iluminado também é uma boa opção!
            </p>
        </li>
        <li> Ventos:
            <p>
                Esse é um fator sobre o qual pouca gente fala, mas que para mim é importantíssimo. Isso porque na minha
                cidade venta absurdamente! Os ventos colaboram para a circulação do ar, mas também retiram umidade das
                folhas das plantas, principalmente das que tem folhas mais finas. Por aqui, os ventos são os principais
                responsáveis por folhas queimadas, então preciso deixar as que tem folhas finas sempre dentro de casa (e
                mesmo assim, às vezes não é o suficiente...). <br>
                Além disso, o vento tira a umidade da superfície do substrato, que, se já estiver seco, vai ficar
                ressecado cada vez mais profundamente, o que significa regas mais frequentes. Se onde você vive não
                venta tanto assim, tá tranquilo e você pode deixar esse tópico como secundário. Mas se venta o tempo
                todo,
                tome cuidado!
            </p>
        </li>
        <li> Observe sua planta:
            <p>
                Por fim, o mais importante dos tópicos: observar o desenvolvimento da sua planta. Enquanto faz essa
                análise periódica, tenha sempre esses tópicos em mente. Minha planta está bonita? Ela parece saudável?
                Se não, o que pode ter causado isso? <br>
                Uma planta que não está saudável está mais propensa a ter pragas como conchonilhas farinhentas e fungos.
                Pensando nesses tópicos, você sempre vai conseguir encontrar a causa da vulnerabilidade da sua
                plantinha, mais cedo ou mais tarde. Sua planta apresentou sintomas de infelicidade, mas você não sabe o
                que pode ter causado isso? Pesquise! Com certeza você vai encontrar internet afora pessoas relatando
                problemas que passaram com essa espécie ou com espécies semelhantes e, eventualmente, você vai encontrar
                uma compatibilidade! Mas, claro, não espere até encontrar a causa e a solução, talvez possa ser tarde
                demais... Então quando observar um problema, tente mudar alguns fatores que você acha que podem ter
                causado isso. Talvez seja o suficiente! Além disso, será um aprendizado para você, que vai ganhar mais
                uns pontinhos de habilidade em jardinagem!
            </p>
        </li>
    </ul>
</article>