<nav>
    <ul class="navegacao">
        <i class="fa-solid fa-seedling icones"></i>
        <a routerLink="login">Entrar!
        </a>
        <i class="fa-solid fa-pen-to-square icones"></i>
        <a routerLink="sign-up"> Cadastro!</a>
        <i class="fa-brands fa-pagelines icones"></i>
        <a routerLink="feedback">Feedback!
        </a>
        <input type="search" name="pesquisa" placeholder="Pesquisa rápida!">
        <button type="button">
            <i class="fa-solid fa-leaf"></i>
        </button>
    </ul>
</nav>