<div class="centro">
    <h2>Olá! Para acessar sua conta, insira seus dados abaixo!</h2>
    <form>
        <p>Username:
            <input type="text" placeholder="Digite o username!" class="user">
        </p>
        <p>Senha:
            <input type="password" placeholder="Digite a senha!">
        </p>


    </form>

    <div class="alinhamento">
        <a routerLink="esqueci-senha">Esqueci minha senha!</a>
        <a routerLink="sign-in">Ainda não tem uma conta?</a>
        <button type="submit">Entrar!<i class="fa-regular fa-sun"></i></button>
    </div>
</div>