<div class="margem centro">
    <h2> Esqueceu sua senha? </h2>
    <h3> Tudo bem! Digite a seguir seu endereço de e-mail cadastrado. Se não se lembrar, pode ser o username mesmo!
        Enviaremos um e-mail com um link para que você cadastre uma nova
        senha. Não esqueça de verificar sua caixa de spam! </h3>

    <p>Insira o e-mail ou username cadastrado:
        <input type="text" placeholder="Digite o user ou e-mail">
    </p>
    <p>
        <button type="submit"> Pronto! <i class="fa-solid fa-envelope-circle-check"></i>
        </button>
    </p>
</div>