@font-face {
    font-family: Amatic SC;
    src: url(./assets/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: Avocado Cake;
    src: url(./assets/Avocado-Cake-Demo.otf);
}

@font-face {
    font-family: Grotesque;
    src: url(./assets/darker-grotesque-latin-600-normal.ttf);
}

@font-face {
    font-family: Lobster;
    src: url(./assets/lobster-two-latin-400-normal.ttf);
}

@font-face {
    font-family: Please WMa Song;
    src: url(./assets/Please-write-me-a-song.ttf);
}
